body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  background-color: #e6a4be;
}

.boorugrid {
    display: grid;
    grid-gap: 0;
    row-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
}

.poner {
    grid-row: 3;
    grid-column: 1;
}
.lyra {
    grid-row: 3;
    grid-column: 2;
}
.rain {
    grid-row: 1;
    grid-column: 1;
}
.foal {
    grid-row: 3;
    grid-column: 2;
}
.pony {
    grid-row: 2;
    grid-column: 1;
}
.broni {
    grid-row: 1;
    grid-column: 2;
}
.twi {
    grid-row: 4;
    grid-column: 1;
}
.derpi {
    grid-row: 5;
    grid-column: 1;
}
.fluffy {
    grid-row: 4;
    grid-column: 2;
}

@font-face {
    font-family: "Equestria",
    src: url(fonts/Equestria.otf) format("opentype");
}

.comparisons, .details {
    font-family: "Equestria";
    font-weight: normal;
    text-align: center;
    color: #33004b;
}

h1 {
    font-size: 72pt;
    padding: 0;
    margin: 0;
    margin-top: 100px;
}

h2 {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    font-size: 48pt;
}

h3 {
    font-size: 24pt;
    text-align: center;
}

h4 {
    font-size: 20pt;
    padding: 0;
    margin: 0;
}

.comparisongrid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    font-size: small;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    text-align: center;
}

th, td {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  border:1px solid black;
}

td {
    height: 70px;
}

.good {
    background-color: lightgreen;
}
.bad {
    background-color: #ff5555;
}
.meh {
    background-color: #f2da65;
}

.details-div {
    width: 800px;
    margin: 0 auto;
}

.ponerpics-name {
    background-color: #f4dab3;
    color: #bd7914;
    font-weight: bold;
}

.ponerpics-icon {
    background-color: #f4dab3;
    padding: 5px;
}

.rainbooru-name {
    background-color: #333333;
    color: #dddddd;
    font-weight: bold;
}

.rainbooru-icon {
    background-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.ponybooru-name {
    background-color: #4b203d;
    color: #c653a3;
    font-weight: bold;
}

.ponybooru-icon {
    background-color: #4b203d;
    padding: 5px;
}

.twibooru-name {
    background-color: #54266b;
    color: #e8b6f5;
    font-weight: bold;
}

.twibooru-icon {
    background-color: #ffcccc;
    padding: 5px;
}

.derpibooru-name {
    background-color: #b6d5eb;
    color: #266a9b;
    font-weight: bold;
}

.derpibooru-icon {
    background-color: #ddf1ff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.generics-heading {
    grid-row: 1;
    grid-column: 1;
}
.generics {
    grid-row: 2;
    grid-column: 1;
}
.specials-heading {
    grid-row: 1;
    grid-column: 2;
}
.specials {
    grid-row: 2;
    grid-column: 2;
}

.source {
    font-size: x-small;
}

img {
    vertical-align: bottom;
}
